<div id="mediaFooter" class="footerDiv">
    {% include "partials/_media-icons.jinja2" %} 
</div>

<div id="pelican" class="footerDiv">
    Proudly powered by <a href="http://getpelican.com/">Pelican</a>
</div>

<div id="backTop" class="footerDiv">
<p><a href="#top">Back to Top</a></p>
</div>

<div id="contact" class="footerDiv">
    <p>Contact the author of this page:</p>
    <address id="about" class="vcard body">
      <a href="mailto:sarah@shmcgrath.com">sarah@shmcgrath.com</a><br/>
    </address>
</div>

<div id="blogArchive" class="footerDiv">
<ul>
  <li>Archive</li>
  <li>Tags</li>
  <li>Authors</li>
  <li>Disclosures</li>
</ul>
</div>

<div id="searchFooter" class="footerDiv">
    {% include "partials/_searchbox.jinja2" %}
</div>

<div id="disclaimerCopyright" class="footerDiv">
    <p><small>All opinions expressed in this site are my personal opinions and are not endorsed by, nor do they represent, the opinions of my previous, current, or future employers, or any of their affiliates, partners, or customers.</small></p>
    <p>Copyright (c) 2017-2019</p>
</div>
