{% include "partials/_media-icons.jinja2" %} 

<address id="about" class="vcard body">
Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
which takes great advantage of <a href="http://python.org">Python</a>.
</address><!-- /#about -->
<table>
<tr>
  <td></td>
  <td><a href="#top">Back to Top</a></td>
  <td></td>
</tr>
<tr>
  <td>
    <ul>
      <li>Tags</li>
      <li>About</li>
      <li>Disclosures</li>
      <li>Archive</li>
    </ul>
  </td>
  <td>
    <ul>
      <li><a href="https://twitter.com/mcgrath_sh"><img src="img/twitterr.png" alt=""></a></li>
    </ul>
  </td>
  <td>
    <ul>
      <li><a href="mailto:sarah@shmcgrath.com"><img src="img/mailr.png" alt=""></a></li>
    </ul>
  </td>
</tr>
<table>
{% include "partials/_searchbox.jinja2" %}
<div id="disclaimer-copyright">
<p><small>All opinions expressed in this site are my personal opinions and are not endorsed by, nor do they represent, the opinions of my previous, current, or future employers, or any of their affiliates, partners, or customers.</small></p>
<p>Copyright (c) 2017</p>
</div>
