<ul id="social-icons-list">
  <li><a href="https://github.com/shmcgrath"><img src="{{ SITEURL }}/img/githubr.png" alt=""></a></li>
  <li><a href="https://www.linkedin.com/in/mcgrathsh"><img src="{{ SITEURL }}/img/linkedinr.png" alt=""></a></li>
  <li><a href="mailto:sarah@shmcgrath.com"><img src="{{ SITEURL }}/img/mailr.png" alt=""></a></li>
  <li><a href="https://www.reddit.com/user/shmcg/"><img src="{{ SITEURL }}/img/redditr.png" alt=""></a></li>
  <li><a href="https://www.shmcgrath.com/feed"><img src="{{ SITEURL }}/img/rssr.png" alt=""></a></li>
  <li><a href="https://twitter.com/mcgrath_sh"><img src="{{ SITEURL }}/img/twitterr.png" alt=""></a></li>
</ul>
