<meta name=”geo.placename” content=”Place Name”>
<meta name=”geo.position” content=”latitude; longitude”>
<meta name=”geo.region” content=”Country Subdivision Code”>
<!-- These are used for address recognition purpose. These are supported by Bing but not Google. -->
