<div class="tipue_search_group">
<form action="search.html"><input type ="text" name="q" id="tipue_search_input" placeholder="Search"/><button type="submit" class="tipue_search_button">BTN</button>
</div>
<script src="{{ SITEURL }}/tipuesearch_content.js"></script>
