{% extends "base.jinja2" %}

{% block title %}{{ config.title }} - Archives{% endblock %}

{% block contentblk %}
{# based on https://zhu45.org/posts/2016/Dec/17/pelican-hack-day/ #}

<h1><a href="{{ config.base_url }}/{{ ARCHIVES_SAVE_AS }}" rel="bookmark" title="Permalink to Archives">{{ config.title }} - Archives</a></h1>

<h2> Archives by Year</h2>
{% for year, year_group in dates|groupby('date.year')|reverse %}
<h3 class="date">{{ (year_group|first).date|strftime('%Y') }}</h3>
  <div class="post archives">
  <ul>
    {% for article in year_group %}
    <li><a href="{{ config.base_url }}/{{ article.url }}">{{ article.title }}</a></li>
    {% endfor %}
  </ul>
  </div>
{% endfor %}
{% endblock %}
