/* The red and blue colors are from Color Claim by Tobias van Schneider. It is pallet No. 12 at http://www.vanschneider.com/colors/ */
$shmred: hsl(2, 73%, 64%);
$shmblue: hsl(188, 90%, 44%);
$base00: hsl(0, 0%, 9%);
$base01: hsl(0, 0%, 16%);
$base02: hsl(0, 0%, 22%);
$base03: hsl(0, 0%, 35%);
$base04: hsl(0, 0%, 72%);
$base05: hsl(0, 0%, 85%);
$base06: hsl(0, 0%, 91%);
$base07: hsl(0, 0%, 97%);
$background: $base07;
