nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

#navBaseMenu > li:before { 
  content: " | ";
  color: $shmred;
}

#navBaseMenu > li:last-child:after { 
  content: " | ";
  color: $shmred;
}

#navBase li {
  display: inline-block;
  list-style-type: none;
  font-size: 0.9rem;
}

nav li {
  list-style-type: none;
}
