#footerBase {
  border-top: .5rem double;
  border-color: $shmred;
}
#disclaimer {
  font-size: 0.90em;
}
#blogArchive {
  text-align: left;
  list-style-type: none;
}

#blogArchive li {
  list-style-type: none;
}
