h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

h1 {
  color: $shmblue;
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
}

h2 {
  color: $shmred;
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

h6 {
  font-size: 1.0rem;
}
