/* COLORS GO RED ON BLUE BACKGROUND */
html {
  font-family: $main-font;
  //font-size: 16px;
}

.red {
  color: $shmred;
}

body {
  margin: 2rem;
  background: $background;
}

#blogList {
  list-style-type: none;
}

.header-person {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

form {
  display: block;
}

main {
  float: center;
  margin: 32px;
}

a {
  color: $shmblue;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.portrait {
  height: 4em;
  width: 4em;
  display: inline;
  margin: 1rem;
}

.header .image, 
.header .text {
    display: inline-block;
    vertical-align: bottom;
}

.page-last-updated {
  font-size: 0.75rem;
  color: $shmred;
  display: flex;
  justify-content:right;
}
