@charset "UTF-8";
:root {
  --shmred: hsl(2, 73%, 64%);
  --shmblue: hsl(188, 90%, 44%);
	--shmpurple: hsl(270, 40%, 60%);
	--shmyellow: hsl(50, 90%, 50%);
	--shmyellow: hsl(50, 70%, 60%);
	--shmaccent: var(--shmyellow);
  --base00: hsl(0, 0%, 9%);
  --base01: hsl(0, 0%, 16%);
  --base02: hsl(0, 0%, 22%);
  --base03: hsl(0, 0%, 35%);
  --base04: hsl(0, 0%, 72%);
  --base05: hsl(0, 0%, 85%);
  --base06: hsl(0, 0%, 91%);
  --base07: hsl(0, 0%, 97%);
  --background-light: var(--base06);
	--text-light: #000000;
	--text-light-alt: #1a1a1a;
	--background-dark: var(--base01);
	--background-dark-alt: #0e0e0e;
	--text-dark: #eaeaea;
	--main-font: Arial, sans-serif;
	--header-font: Arial, sans-serif;
}

* {box-sizing: border-box;}

html body {
  font-family: var(--main-font);
	font-size: 0.95em;
	min-height: 100vh;
	transition: background 0.2s linear;
}

html[data-theme="light"] body {
	background-color: var(--background-light);
	color: var(--text-light);
	--shmaccent: var(--shmpurple);

}

html[data-theme="dark"] body {
	background-color: var(--background-dark);
	color: var(--text-dark);
	--shmaccent: var(--shmyellow);
}

#theme-toggle-div {
  display: flex;
  justify-content: flex-end;
}

#theme-toggle {
	visibility: hidden;
}

#theme-toggle-label {
	display: inline-block;
	cursor: pointer;
	margin-right: 1vw;
	margin-top: 1vh;
}

.theme-toggle-icon {
	width: 16px;
	height: 16px;
	transition: opacity 0.3s ease;
	fill: var(--shmblue);
}

body[data-theme="light"] #sun-toggle-icon { opacity: 1; }
body[data-theme="light"] #moon-toggle-icon { opacity: 0; }

body[data-theme="dark"] #sun-toggle-icon { opacity: 0; }
body[data-theme="dark"] #moon-toggle-icon { opacity: 1; }

#theme-toggle-div .checkbox {
  visibility: hidden;
}

#theme-toggle-div .checkbox-label {
  background-color: var(--base02);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggle-div .checkbox-label .ball {
  background-color: var(--base07);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#theme-toggle-div .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

p {
  line-height: 1.25;
}

article {
  margin: 2rem;
}


.socialIcon {
  fill: var(--shmred);
	transition: fill 0.2s;
	width: 24px;
	height: 24px;
}

a:hover .socialIcon {
	fille: var(--shmblue);
}

.articleHeader {
  color: var(--shmred);
}

.articleFooter {
  border-top: 2px dotted var(--shmred);
  padding-top: 1rem;
}

#footerBase {
  border-top: 0.5rem double var(--shmred);
}

#headerBase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--shmblue);
  border-bottom: 0.5rem double var(--shmred);
}

#headerBaseSitename {
  color: var(--shmred);
  font-size: 1.75rem;
}

#headerBaseSitesubtitle {
  color: var(--shmred);
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1 {
  color: var(--shmblue);
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
}

h2 {
  color: var(--shmred);
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.0rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

#nav-links > li:before {
  content: " | ";
  color: var(--shmred);
}

#nav-links > li:last-child:after {
  content: " | ";
  color: var(--shmred);
}

#nav-menu li {
  display: inline-block;
  list-style-type: none;
  font-size: 0.9rem;
}

#nav-menu li.active > a {
    color: var(--shmaccent);
		font-weight: bold;
}

nav li {
  list-style-type: none;
}

.red {
  color: var(--shmred);
}

#blogList {
  list-style-type: none;
}

.header-person {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  display: block;
}

main {
  display: block;
  margin: 32px;
}

a {
  color: var(--shmblue);
}

.icon {
  height: 1rem;
  width: 1rem;
}

.portrait {
  height: 4em;
  width: 4em;
  display: inline;
  margin: 1rem;
}

.header .image, 
.header .text {
  display: inline-block;
  vertical-align: bottom;
}

.page-last-updated {
  font-size: 0.75rem;
  display: flex;
  justify-content: right;
}

#searchrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#fuse_search_input {
  height: 1rem;
  width: 80%;
  padding: 0.5rem;
  margin: 1rem;
  padding-left: 2.1rem;
  border: solid var(--shmred);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
}

#backTop,
#socialIcons,
#disclaimerCopyright {
  grid-column: 1 / span 2;
}

#disclaimerCopyright {
  font-size: 0.6rem;
}

#pelican {
  text-align: left;
  font-size: 0.75rem;
}

#blogArchive {
  text-align: left;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

#blogArchive li {
  list-style-type: none;
}

.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}

#socialIconsList li {
  display: inline-block;
  list-style-type: none;
}

.twoColumnList {
  columns: 2;
}

ul {
  margin: 0.5rem;
  margin-left: 0.75rem;
  padding: 0;
}

ul ul {
  margin-left: 1rem;
}

ul ul ul {
  margin-left: 1.25rem;
}

.guage {
  background: var(--base05);
  padding-top: 5px;
}

.guage-meter {
  background: var(--shmblue);
  width: 55%;
}

.resumeDate {
  font-size: 0.7rem;
}

.resumeNote {
  font-size: 0.7rem;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.debug-output {
  background: #222;
  color: #eee;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}
