@charset "UTF-8";

:root {
  --shmred: rgb(230 98 94);
  --shmblue: rgb(11 188 214);
	--shmpurple: rgb(153 112 194);
	--shmyellow: rgb(242 204 13);
	--shmyellow: rgb(224 201 82);
	--shmaccent: var(--shmyellow);
  --base00: rgb(23 23 23);
  --base01: rgb(41 41 41);
  --base02: rgb(56 56 56);
  --base03: rgb(89 89 89);
  --base04: rgb(184 184 184);
  --base05: rgb(217 217 217);
  --base06: rgb(232 232 232);
  --base07: rgb(247 247 247);
  --background-light: var(--base06);
	--text-light: rgb(0 0 0);
	--text-light-alt: rgb(26 26 26);
	--background-dark: var(--base01);
	--background-dark-alt: rgb(14 14 14);
	--text-dark: rgb(234 234 234);
	--main-font: arial, sans-serif;
	--header-font: arial, sans-serif;
}

/* Fonts listed in my pelican theme:
var(--header-font): 'Space Mono', Arial, sans-serif;
var(--header-font): 'Playfair Display', serif;
var(--header-font): 'Fauna One', serif;
var(--main-font): 'Playfair Display', serif;
var(--main-font): 'Space Mono', Arial, sans-serif;
var(--main-font): 'Work Sans', Arial, sans-serif;
var(--main-font): 'Fauna One', serif;
*/

* {box-sizing: border-box;}

/* under body from scss
  //display: grid;
  //grid-template-columns: 1fr;
  //grid-template-rows: auto;
  //grid-template-areas:
    "hd"
    "mn"
    "ft";
*/

/* this looks to be bad css but wanted it noted
body {
  margin: 2rem;
  background: var(--background);
}*/

html body {
  font-family: var(--main-font);
	font-size: 0.95em;
	min-height: 100vh;
	transition: background 0.2s linear;
}

html[data-theme="light"] body {
	background-color: var(--background-light);
	color: var(--text-light);
	--shmaccent: var(--shmpurple);
	--search-background: var(--background-light);
	--search-color: var(--text-light);

}

html[data-theme="dark"] body {
	background-color: var(--background-dark);
	color: var(--text-dark);
	--shmaccent: var(--shmyellow);
	--search-background: var(--base03);
	--search-color: var(--text-dark);
}

#theme-toggle-div {
  display: flex;
  justify-content: flex-end;
}

#theme-toggle {
	visibility: hidden;
}

#theme-toggle-label {
	display: inline-block;
	cursor: pointer;
	margin-right: 1vw;
	margin-top: 1vh;
}

.theme-toggle-icon {
	width: 16px;
	height: 16px;
	transition: opacity 0.3s ease;
	fill: var(--shmblue);
}

body[data-theme="light"] #sun-toggle-icon { opacity: 1; }
body[data-theme="light"] #moon-toggle-icon { opacity: 0; }

body[data-theme="dark"] #sun-toggle-icon { opacity: 0; }
body[data-theme="dark"] #moon-toggle-icon { opacity: 1; }

#theme-toggle-div .checkbox {
  visibility: hidden;
}

#theme-toggle-div .checkbox-label {
  background-color: var(--base02);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggle-div .checkbox-label .ball {
  background-color: var(--base07);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

#theme-toggle-div .checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/* old p css:
 * margin: 1em 0;
	* margin-bottom: 1em;
 * line-height: 1.6;
 */
p {
  line-height: 1.25;
}

article {
  margin: 2rem;
}

.social-icon {
  fill: var(--shmblue);
	transition: fill 0.2s;
	width: 24px;
	height: 24px;
}

a:hover .social-icon {
	fill: var(--shmblue);
}

.article-header {
  color: var(--shmred);
}

.article-footer {
  border-top: 2px dotted var(--shmred);
  padding-top: 1rem;
}

#footer-base {
}

#header-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--shmblue);
}

#header-base-sitename {
  color: var(--shmred);
  font-size: 1.75rem;
}

#header-base-sitesubtitle {
  color: var(--shmred);
  font-size: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--header-font);
}

h1 {
  color: var(--shmblue);
  display: inline;
  font-size: 1.5rem;
  vertical-align: middle;
}

h2 {
  color: var(--shmred);
  font-size: 1.4rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.0rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

#nav-links > li:before {
  content: " | ";
  color: var(--shmred);
}

#nav-links > li:last-child:after {
  content: " | ";
  color: var(--shmred);
}

/* was #navBase li in old version */
#nav-menu li {
  display: inline-block;
  list-style-type: none;
  font-size: 0.9rem;
}

#nav-menu li.active > a {
    color: var(--shmaccent);
		font-weight: bold;
}

nav li {
  list-style-type: none;
}

.red {
  color: var(--shmred);
}

#blog-list {
  list-style-type: none;
}

.header-person {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

form {
  display: block;
}

main {
  display: block;
  margin: 32px;
}

a {
  color: var(--shmblue);
}

.icon {
  height: 1rem;
  width: 1rem;
}

.portrait {
  height: 4em;
  width: 4em;
  display: inline;
  margin: 1rem;
}

.header .image, 
.header .text {
  display: inline-block;
  vertical-align: bottom;
}

.page-last-updated {
  font-size: 0.75rem;
  /* color: var(--shmred); */
  display: flex;
  justify-content: right;
}

.searchrow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: center;
}

.break {
  border-bottom: 0.5rem double var(--shmred);
	width: 98%;
  grid-column: 1 / span 2;
}

search {
  grid-column: 2;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 0.75rem;
	margin-bottom: 0.75rem;
}

#search-input {
  height: 1.5rem;
  width: 75%;
  padding: 0.25rem;
	margin: 0.4rem 0;
	border: solid var(--shmred);
	border-width: 1px 0 1px 1px;
	border-radius: 2px 0 0 2px;
  background-color: var(--search-background);
  color: var(--search-color);
	-webkit-appearance: textfield;
}

#search-icon {
	width: 1.5rem;
	aspect-ratio: 1;
	fill: var(--shmred);
  background-color: var(--shmblue);
	cursor: pointer;
	border: solid var(--shmred);
	border-radius: 0 2px 2px 0;
	border-width: 1px 1px 1px 0;
	margin: 0.4rem 0;
}

#search-icon:hover {
	fill: var(--shmblue);
  background-color: var(--shmred);
}

#back-top,
#social-icons,
#disclaimer-copyright {
  grid-column: 1 / span 2;
}

#disclaimer-copyright {
  font-size: 0.6rem;
}

#blog-archive {
  text-align: left;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: center;
}

#blog-archive li {
  list-style-type: none;
}

.social-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.5rem;
}

#social-icons-list li {
  display: inline-block;
  list-style-type: none;
}

.two-column-list {
  columns: 2;
}

ul {
  margin: 0.5rem;
  margin-left: 0.75rem;
  padding: 0;
}

ul ul {
  margin-left: 1rem;
}

ul ul ul {
  margin-left: 1.25rem;
}

.guage {
  background: var(--base05);
  padding-top: 5px;
}

.guage-meter {
  background: var(--shmblue);
  width: 55%;
}

.resume-date {
  font-size: 0.7rem;
}

.resume-note {
  font-size: 0.7rem;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.debug-output {
  background: #222;
  color: #eee;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  font-size: 0.9rem;
}

/* https://www.w3.org/WAI/tutorials/forms/labels/#note-on-hiding-elements */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/* File: _header.scss
 * from abby converted scss
.header {
  //grid-area: hd;
}
 */
/* File: _main.scss
//.main {
  //grid-area: mn;
//}
 */
