changequote([[,]])
define([[M4_MAIN]],[[<article class="article">
  <header class="article-header">
  <h1 class="article-title">
	$if(title)$<h1 class="article-title">
	</h1>$endif$
		<a href="/blog/$slug$.html" rel="bookmark" title="Permalink to $title$"">$title$</a>
	</h1>
	$if(subtitle)$<h2>$subtitle$</h2>$endif$
	$if(author)$<p class=articleAuthor>$author$</h2>$endif$
	$if(description)$<p class="articleDescription">$subtitle$</p>$endif$
  </header>
	$if(body)$<div class=articleBody>$body$</div>$endif$
  <footer class="article-footer">
		<time class="published" datetime="$date_published$">Published: $date_published$</time>
		$if(date_updated)$<time class="pageLastUpdated" datetime=$date_updated$>Last Updated: $date_updated$</time></p>$endif$
		$if(keywords)$<div class=keywords>$keywords$</div>$endif$
  </footer>
</article>]])
changequote(`,')
')include(`templates/base.html')
