changequote([[,]])define([[M4_MAIN]],[[<div id="blog-archive">
			$if(title)$<h1>$title$</h1>$endif$
			<p>Link to Blogs by Year</p>
			<p>Link to Tags in Blogs</p>
      <div id="year-archive">
			<h2>Blog Articles by Year</h2>
			<h3 class="date">{{ (year_group|first).date|strftime('%Y') }}</h3>
      <ul id="year-archive-list">M4_BLOG_ARCHIVE_LIST
      </ul>
      </div>
      <div id="tags-archive">
			<h2>Tags</h2>
      <ul id="tags-archive-list">M4_BLOG_ARCHIVE_LIST
      </ul>
      </div>
      </div>]])dnl
changequote(`,')include(`templates/base.html')dnl
