<!DOCTYPE html>

<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    <!-- Title and Meta Information -->
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta name="author" content="{{ AUTHOR }}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style Sheets -->
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Space+Mono|Work+Sans" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" href="{{ SITEURL}}/css/main.css">
    <link rel="stylesheet" href="{{ SITEURL}}/css/pygment.css">
    <link rel="icon" href="{{ SITEURL }}/img/favicon.ico" type="image/x-icon"/>  
    <!-- Additional CSS -->
    {% block additional_css %}
    {% endblock %}
    <!-- Scripts -->
    <!-- jQuery -->
    <script type="text/javascript" src="{{ SITEURL }}/plugins/jquery-3.3.1.min.js"></script>
    <!-- My JavaScript -->
    <script type="text/javascript" src="{{ SITEURL }}/script/main.js"></script>
    <!-- Additional Javascript -->
    {% block additional_js %}
    {% endblock %}
    <!-- RSS Feed Information -->
    {% include "partials/_rss.jinja2" %}
    {% block headerblk %}
    {% endblock %}
  </head>
  <body>
    <header id="header-main">
      <h1><a href="{{ SITEURL }}/">{{ SITENAME }}</a></h1>
      {# <h2>{{ SITESUBTITLE }}</h2> #}
      <nav>
        <ul id="navList">
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
              <li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
            {% endfor %}
          {% endif %}

          {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}

          {% if DISPLAY_CATEGORIES_ON_MENU %}
            {% for cat, null in categories %}
              <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer id="footer-main" class="footer">

      <div id="backTop" class="footerDiv">
      <p><a href="#top">Back to Top</a></p>
      </div>

      <div id="socialIcons" class="footerDiv">
        <ul id="social-icons-list">
          <li><a href="https://github.com/shmcgrath"><img src="{{ SITEURL }}/img/githubr.png" alt=""></a></li>
          <li><a href="https://www.linkedin.com/in/mcgrathsh"><img src="{{ SITEURL }}/img/linkedinr.png" alt=""></a></li>
          <li><a href="mailto:sarah@shmcgrath.com"><img src="{{ SITEURL }}/img/mailr.png" alt=""></a></li>
          <li><a href="https://twitter.com/mcgrath_sh"><img src="{{ SITEURL }}/img/twitterr.png" alt=""></a></li>
          <li><a href="https://www.reddit.com/user/shmcg/"><img src="{{ SITEURL }}/img/redditr.png" alt=""></a></li>
          <li><a href="{{ SITEURL }}/feeds/all.atom.xml"><img src="{{ SITEURL }}/img/rssr.png" alt=""></a></li>
        </ul>
      </div>

      <div id="blogArchive" class="footerDiv">
      <ul>
        {% if ARCHIVES_SAVE_AS %}
          <li><a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}">Archives</a></li>
        {% endif %}
        {% if TAGS_SAVE_AS %}
          <li><a href="{{ SITEURL }}/{{ TAGS_SAVE_AS }}">Tags</a></li>
        {% endif %}
        {% if AUTHORS_SAVE_AS %}
          <li><a href="{{ SITEURL }}/{{ AUTHORS_SAVE_AS }}">Tags</a></li>
        {% endif %}
        {% if CATEGORIES_SAVE_AS %}
          <li><a href="{{ SITEURL }}/{{ CATEGORIES_SAVE_AS }}">Categories</a></li>
        {% endif %}
        {# <li>Disclosures</li> #}
      </ul>
      </div>

      <div id="searchFooter" class="footerDiv">
        {% include "partials/_searchbox.jinja2" %}
      </div>

      <div id="pelican" class="footerDiv">
        <p>Powered by <a href="http://getpelican.com/">Pelican</a>.</p>
        <p><a href="https://github.com/shmcgrath/shmcgrath-com">Source code on GitHub.</a></p>
      </div>

      <div id="disclaimerCopyright" class="footerDiv">
          <p id="disclaimer">All opinions expressed in this site are my personal opinions and are not endorsed by, nor do they represent, the opinions of my previous, current, or future employers, or any of their affiliates, partners, or customers.</p>
          <p>Copyright (c) 2017-2019</p>
      </div>

    </footer>
  </body>
</html>
