{% extends "base.jinja2" %}
  
{% block content %}
  <h1>Resume</h1>
  <h2>Plus Consulting</h2>
    <P>Intern, January, 2016 - current</p>
  <h2>Thermo Fisher Scientific</h2>
    <p></p>
  <h2>United States Steel Corporation</h2>
    <p></p>
  <h2>The Office of Gregory Barker, MP, House of Commons of the United Kingdom</h2>
    <p></p>
  <h2>Allegheny County District Attorney's Office</h2>
    <p></p>
  <h2>Additional Work Experience</h2>
    <h3>The Catholic University of America Libraries</h3>
      <p>Student Librarian, August 2008 - May 2010</p>
    <h3>Kennywood</h3>
      <p>Green Shirt, June 2006 - August 2006</p>
  <p>Download a copy of my PDF resume here.</p>
{% endblock %}
