{% macro show_tera_context() %}
		{{ self::show(name="Config", content=config) }}
		{% if section %}{{ self::show(name="Section", content=section) }}{% endif %}
		{% if page %}{{ self::show(name="Page", content=page) }}{% endif %}
		{{ self::show(name="current_path", content=current_path) }}
		{{ self::show(name="current_url", content=current_url) }}
		{{ self::show(name="lang", content=lang) }}
{% endmacro show_tera_context %}


{% macro show(name, content) %}
		<details style="text-align: left;">
				<summary><strong>{{ name }}</strong></summary>
				{{ self::show_value(type="",data=content) }}
		</details>
{% endmacro show %}


{% macro show_array(data) %}
		<ul>
		{% for value in data %}
				<li><strong>{{ loop.index }}</strong>: {{ self::show_value(type="",data=value) }}</li>
		{% endfor %}
		</ul>
{% endmacro show_array %}


{% macro show_object(data) %}
		<ul>
		{% for key,value in data %}
				<li><strong>{{ key }}</strong>: {{ self::show_value(type=key,data=value) }}</li>
		{% endfor %}
		</ul>
{% endmacro show_object %}


{% macro show_value(type, data) %}
		{% if type == "pages" %}
				{% for page in data %}
						{{ self::show(name=page['title'], content=data) }}
				{% endfor %}
		{% elif type == "content" %}
				{{ self::show(name=type, content=data) }}
		{% elif data is object %}
				{{ self::show_object(data=data) }}
		{% elif data is iterable %}
				{{ self::show_array(data=data) }}
		{% else %}
				{{ data }}
		{% endif %}
{% endmacro show_value %}

<!-- debug.html is from https://zola.discourse.group/t/here-is-a-debuging-macro-to-view-easy-to-read-tera-context/2409 -->
